<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords"  content="">
  <meta name="description" content="">
  <title>fastAPI sample Document</title>
  <link rel="icon" href="">
  <style type="text/css">
    @import "{{ url_for('static', path='css/bootstrap-custom.css') }}";
  </style>
  <script type="module">
    import { Alert, Button, Carousel, Collapse, Dropdown, Modal, Offcanvas, Popover, ScrollSpy, Tab, Toast, Tooltip } from "{{ url_for( 'static', path='js/bootstrap.esm.js') }}"
  </script>
</head>
<body>
  <nav>Page Error</nav>
  <main>
    <article>
      <header>{{ code }} : {{ detail }}</header>
    </article>
    <footer>
      <hr>
      <span>Copyright &copy; fastAPI sample template site.</span>
    </footer>
  </main>  
</body>
</html>